@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/mulish/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/mulish/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/mulish/Mulish-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/mulish/Mulish-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Now import Tailwind */
@import "tailwindcss";

/* Override Tailwind's base styles */
@layer base {
  html {
    font-family: "Mulish", sans-serif;
  }
}

@theme {
  
  --color-textColor: #0c406c;
  --color-primary: #00a2e3;
  --color-secondary: #141e8c;
  --color-third: #EEFAFF;
  --color-fourth: #D7EFF9;
  --color-orange: #e38217;
  --color-yellow: #ffd944;
  --color-green: #69c137;
  --color-red: #e3173f;
  --color-lightGray:#D2D2D2;
  --color-gray: #909090;
  --color-darkGray: #282832;


  --color-inputPlaceholder: #0C406C33;
  --color-hover:#0090d0;
  --color-inputBorder: #CBD6E2;
  --color-inputBg :#F5F8FA;
  
}

body {
  font-family: "Mulish", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection { 
  color: white;
  background: #141e8c;
}

::selection {
  color: white;
  background: var(--color-secondary, #141e8c);
}

* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: var(--color-secondary, #141e8c) var(--color-third, #EEFAFF); /* Thumb and track colors */
}





.phone-input-container .PhoneInputInput {
  @apply w-full p-3 border  rounded-lg text-base bg-inputBg border-inputBorder placeholder:bg-inputPlaceholder;
}


@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-33.333%); /* Move by 1/3 since we have 3 copies */
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  display: flex;
  width: max-content;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* Faster animation on mobile */
@media (max-width: 768px) {
  .animate-marquee {
      animation-duration: 8s;
  }
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
      animation: none;
      transform: translateX(0);
      overflow-x: auto;
      white-space: nowrap;
  }
}